h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0;
}

h2 {
    margin-left: 16px;
}

#header-nav {
    background-color: aqua;
}

section {
    background-color: aqua;
    margin: 8px;
}

.navbar-toggle {
    margin-right: 0px;
}

#nav-list li {
    margin-top: 2px;
}

#nav-list a {
    padding-left: 16px;
    text-align: center;
    font-size: 1.2em;
    background-color: bisque;
}

#nav-list a:hover {
    background-color: azure;
}

#nav-list a:active {
    box-shadow:  1px 1px 1px azure;
}